body {
    margin: 0;
    padding: 10px;
}

.header img {
    width: 50%;
}

.menu {
    padding-left: 0;
    margin: 15px 0;
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 5px;
}

form input {
    margin: 0 5px 0 0;
}

.close {
    float: none;
}